services:
  r1:
    build: .
    container_name: r1
    privileged: true
    hostname: r1
    volumes:
      - ./r1/frr.conf:/etc/frr/frr.conf
      - ./snmpd.conf:/etc/snmp/snmpd.conf
      - ./ospfd.conf:/etc/frr/ospfd.conf
      - ./isisd.conf:/etc/frr/isisd.conf
    networks:
      net_123:
        ipv4_address: 172.21.123.11
      net_14:
        ipv4_address: 172.21.14.11
    cap_add:
      - NET_BIND_SERVICE
    sysctls:
      net.ipv4.ip_forward: "1"
      net.ipv4.conf.all.rp_filter: "0"
      net.ipv4.conf.default.rp_filter: "0"
    ports:
      - "1161:161/udp"
      - "2221:22/tcp"
  r2:
    build: .
    container_name: r2
    privileged: true
    hostname: r2
    volumes:
      - ./r2/frr.conf:/etc/frr/frr.conf
      - ./snmpd.conf:/etc/snmp/snmpd.conf
      - ./ospfd.conf:/etc/frr/ospfd.conf
      - ./isisd.conf:/etc/frr/isisd.conf
    networks:
      net_123:
        ipv4_address: 172.21.123.2
    cap_add:
      - NET_BIND_SERVICE
    sysctls:
      net.ipv4.ip_forward: "1"
      net.ipv4.conf.all.rp_filter: "0"
      net.ipv4.conf.default.rp_filter: "0"
    ports:
      - "1162:161/udp"
      - "2222:22/tcp"
  r3:
    build: .
    container_name: r3
    privileged: true
    hostname: r3
    volumes:
      - ./r3/frr.conf:/etc/frr/frr.conf
      - ./snmpd.conf:/etc/snmp/snmpd.conf
      - ./ospfd.conf:/etc/frr/ospfd.conf
      - ./isisd.conf:/etc/frr/isisd.conf
    networks:
      net_123:
        ipv4_address: 172.21.123.3
      #net_37:
      #  ipv4_address: 10.0.37.3
    cap_add:
      - NET_BIND_SERVICE
    sysctls:
      net.ipv4.ip_forward: "1"
      net.ipv4.conf.all.rp_filter: "0"
      net.ipv4.conf.default.rp_filter: "0"
    ports:
      - "1163:161/udp"
      - "2223:22/tcp"
  r4:
    build: .
    container_name: r4
    privileged: true
    hostname: r4
    volumes:
      - ./r4/frr.conf:/etc/frr/frr.conf
      - ./snmpd.conf:/etc/snmp/snmpd.conf
      - ./ospfd.conf:/etc/frr/ospfd.conf
      - ./isisd.conf:/etc/frr/isisd.conf
    networks:
      net_14:
        ipv4_address: 172.21.14.4
      net_45:
        ipv4_address: 172.21.45.4
    cap_add:
      - NET_BIND_SERVICE
    sysctls:
      net.ipv4.ip_forward: "1"
      net.ipv4.conf.all.rp_filter: "0"
      net.ipv4.conf.default.rp_filter: "0"
    ports:
      - "1164:161/udp"
      - "2224:22/tcp"
  r5:
    build: .
    container_name: r5
    privileged: true
    hostname: r5
    volumes:
      - ./r5/frr.conf:/etc/frr/frr.conf
      - ./snmpd.conf:/etc/snmp/snmpd.conf
      - ./ospfd.conf:/etc/frr/ospfd.conf
      - ./isisd.conf:/etc/frr/isisd.conf
    networks:
      net_45:
        ipv4_address: 172.21.45.5
      net_56:
        ipv4_address: 10.0.56.5
    cap_add:
      - NET_BIND_SERVICE
    sysctls:
      net.ipv4.ip_forward: "1"
      net.ipv4.conf.all.rp_filter: "0"
      net.ipv4.conf.default.rp_filter: "0"
    ports:
      - "1165:161/udp"
      - "2225:22/tcp"
  r6:
    build: .
    container_name: r6
    privileged: true
    hostname: r6
    volumes:
      - ./r6/frr.conf:/etc/frr/frr.conf
      - ./snmpd.conf:/etc/snmp/snmpd.conf
      - ./ospfd.conf:/etc/frr/ospfd.conf
      - ./isisd.conf:/etc/frr/isisd.conf
    networks:
      net_56:
        ipv4_address: 10.0.56.6
      net_67:
        ipv4_address: 10.0.67.6
    cap_add:
      - NET_BIND_SERVICE
    sysctls:
      net.ipv4.ip_forward: "1"
      net.ipv4.conf.all.rp_filter: "0"
      net.ipv4.conf.default.rp_filter: "0"
    ports:
      - "1166:161/udp"
      - "2226:22/tcp"
  r7:
    build: .
    container_name: r7
    privileged: true
    hostname: r7
    volumes:
      - ./r7/frr.conf:/etc/frr/frr.conf
      - ./snmpd.conf:/etc/snmp/snmpd.conf
      - ./ospfd.conf:/etc/frr/ospfd.conf
      - ./isisd.conf:/etc/frr/isisd.conf
    networks:
      net_67:
        ipv4_address: 10.0.67.7
      net_78:
        ipv4_address: 172.22.78.7
      #net_37:
      #  ipv4_address: 10.0.37.7
    cap_add:
      - NET_BIND_SERVICE
    sysctls:
      net.ipv4.ip_forward: "1"
      net.ipv4.conf.all.rp_filter: "0"
      net.ipv4.conf.default.rp_filter: "0"
    ports:
      - "1167:161/udp"
      - "2227:22/tcp"
  r8:
    build: .
    container_name: r8
    privileged: true
    hostname: r8
    volumes:
      - ./r8/frr.conf:/etc/frr/frr.conf
      - ./snmpd.conf:/etc/snmp/snmpd.conf
      - ./ospfd.conf:/etc/frr/ospfd.conf
      - ./isisd.conf:/etc/frr/isisd.conf
    networks:
      net_78:
        ipv4_address: 172.22.78.8
    cap_add:
      - NET_BIND_SERVICE
    sysctls:
      net.ipv4.ip_forward: "1"
      net.ipv4.conf.all.rp_filter: "0"
      net.ipv4.conf.default.rp_filter: "0"
    ports:
      - "1168:161/udp"
      - "2228:22/tcp"

networks:
  net_123:
    ipam:
      config:
        - subnet: 172.21.123.0/24
  #net_37:
  #  ipam:
  #    config:
  #      - subnet: 10.0.37.0/24
  net_14:
    ipam:
      config:
        - subnet: 172.21.14.0/24
  net_45:
    ipam:
      config:
        - subnet: 172.21.45.0/24
  net_56:
    ipam:
      config:
        - subnet: 10.0.56.0/24
  net_67:
    ipam:
      config:
        - subnet: 10.0.67.0/24
  net_78:
    ipam:
      config:
        - subnet: 172.22.78.0/24
